    .logo {
        position: absolute;
        width: 50px;
        top: 50px;
        left: 100px;
        z-index: 1;
    }

    @media screen and (max-width: 800px) {
        .logo {
            top: 30px;
            left: 30px;
            width: 40px;
        }
    }